body {
  font-family: Arial, sans-serif;
  background-color: #fdf6ec;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  color: #333366;
}

.contenedor {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: 2px solid #cccccc;
}

form {
  display: flex;
  flex-direction: column;
}

label, input, button {
  margin-bottom: 15px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #af7ac5;
  box-shadow: 0 0 5px rgba(175, 122, 197, 0.5);
}

button {
  background-color: #af7ac5;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #af7ac5;
}